html {
    margin: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
    color: rgb(250, 244, 244);
}


.App {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(30, 116, 39, 0.93);
}

button {
    cursor: pointer;
}