@mixin media-min($_max-height) {
    @media screen and (max-height: $_max-height) {
        &{ @content; }
    }
}


.bankContainer {
    height: 49%;
    position: relative;
    .bankInfo { 
        padding: 0 25px;
        display: flex;
        p.score {
            padding: 15px 20px;
            font-size: 3rem;
            margin: 0px;
            margin-top: 2%;
            background-color: rgb(32, 77, 78);
            border-radius: 30px;
            @include media-min(800px) {
                padding: 10px 15px;
            }
        }
    }
    .cardsContainer {
        transform: translate(25%, 12.5%);
        .card{
            height: 250px;
            padding: 3px;
            @include media-min(800px) {
                height: 210px;
            }
        }
    }
    .message {
        font-size: 2em;
        position: absolute;
        top: 2%;
        padding: 15px 20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgb(102, 102, 102);
        border-radius: 15px;
    }

}


