.bankContainer {
    height: 49%;
    position: relative;
    .bankInfo { 
        padding: 0 25px;
        display: flex;
        p {
            font-size: 3rem;
            padding: 10px;
            margin: 0px;
            margin-top: 1%;
        }
        p.score {
            background-color: rgb(52, 109, 52);
            margin-left: 30px;
            border: 1px solid white;
            border-radius: 30px;
        }
    }
    .cardsContainer {
        transform: translate(25%, 12.5%);
        .card{
            height: 250px;
            padding: 3px;
        }
    }
    .message {
        font-size: 2em;
        margin-bottom: -1.8em;
        position: absolute;
        bottom: 0;
        left: 49%;
        transform: translate(-50%, -50%);
    }

}