.leaderboardBtn {
    position: absolute;
    background-color: transparent;
    right: 1%;
    top: 1%;
    font-size: 2em;
    color: rgba(0, 0, 0, 0.4);
    border: 5px solid rgba(0, 0, 0, 0.15);
    padding: 10px 10px 8px 10px;
    border-radius: 45px;
    z-index: 1;
    .cross {
        margin: 0px 7px;
        color: rgb(250, 244, 244);
    }
}

.leaderboardContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    .leaderboardDisplay {
        background-color: rgba(0, 0, 0, 0.35);
        border-radius: 5px;
        text-align: center;
        position: absolute;
        top: 51%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 600px;
        width: 400px;
        color: rgb(6, 8, 19);
        h1 {
        font-size: 2em;
        }
        .leaderboard {
            height: 410px;
            display: flex;
            justify-content: space-around;
            .title {
                font-size: 1.1em;
                border-bottom: 1px solid black;
            }
        }
        .leaderboardRegister {
            position: relative;
            bottom: 0%;
        }
    }

}