@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


$light: rgb(233, 233, 233);
$dark: rgb(29, 29, 29);

$bg-image: url('../Cards/bg-table.jpeg');
$bg-size: 85%;


$bg-leaderboard: rgba(129, 48, 48, 0.801);

$Poppins: 'Poppins', cursive;