@import "../Styles/variables.scss";


.bank {
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    &__score {
        color: $dark;
        position: absolute;
        top: -20%;
        transform: translate(50%, -50%);
        right: 50%;
    }
    &__cards {
        &__card {
            width: 7em;
            padding: 5px;
        }
    }
}